.file-input {
  display: none;
}

.material-icons {
  font-size: 22px !important;
  cursor: pointer;
}

.progress-container {
  height: 5px;
  width: 100%;
}

.meta-data-container {
  flex: 1;
}

.upload-btn {
  padding: 5px 10px !important;
}
