<form
  class="form w-100 fv-plugins-bootstrap5 fv-plugins-framework"
  novalidate="novalidate"
  [formGroup]="forgotPasswordForm"
  (ngSubmit)="submit()"
  id="kt_login_password_reset_form"
>
  <!--begin::Title-->
  <div class="text-center mb-10">
    <h1 class="text-dark mb-3">{{ 'AUTH.FORGOT.TITLE' | translate }}</h1>
    <div class="text-gray-400 fw-bold fs-4">
      {{ 'AUTH.FORGOT.DESC' | translate }}
    </div>
  </div>
  <!--end::Title-->

  <!-- begin::Alert error-->
  <ng-container *ngIf="errorState === errorStates.HasError">
    <div class="mb-lg-15 alert alert-danger">
      <div class="alert-text font-weight-bold">
        عذراً، حدث خطأ أثناء معالجة الطلب، يرجى المحاولة مرة أخرى.
      </div>
    </div>
  </ng-container>
  <!-- end::Alert error-->

  <ng-container *ngIf="errorState === errorStates.NoError">
    <div class="mb-10 bg-light-info p-8 rounded">
      <!--begin::Body-->
      <div class="text-info">{{ 'AUTH.FORGOT.SUCCESS' | translate }}</div>
      <!--end::Body-->
    </div>
  </ng-container>

  <!--begin::Form group-->
  <div class="fv-row mb-10">
    <label class="form-label fw-bolder text-gray-900 fs-6">{{ 'COMMON.EMAIL' | translate }}</label>
    <input
      class="form-control form-control-lg form-control-solid"
      type="email"
      formControlName="email"
      placeholder="name@example.com"
      name="email"
      autocomplete="off"
      [ngClass]="{
        'is-invalid': forgotPasswordForm.controls['email'].invalid,
        'is-valid': forgotPasswordForm.controls['email'].valid
      }"
    />

    <ng-container
      [ngTemplateOutlet]="formError"
      [ngTemplateOutletContext]="{
        validation: 'required',
        message: 'البريد الإلكتروني إلزامي',
        control: forgotPasswordForm.controls['email']
      }"
    ></ng-container>
    <ng-container
      [ngTemplateOutlet]="formError"
      [ngTemplateOutletContext]="{
        validation: 'email',
        message: 'يرجى إدخال بريد إلكتروني صالح',
        control: forgotPasswordForm.controls['email']
      }"
    ></ng-container>
  </div>
  <!--end::Form group-->

  <!--begin::Form group-->
  <div class="d-flex flex-wrap justify-content-center pb-lg-0 gap-3">
    <button
      type="submit"
      id="kt_password_reset_submit"
      class="btn btn-lg btn-primary fw-bolder"
      [disabled]="forgotPasswordForm.invalid"
    >
      <span class="indicator-label" *ngIf="!(isLoading$ | async)">{{ 'AUTH.GENERAL.SUBMIT_BUTTON' | translate }}</span>
      <ng-container *ngIf="isLoading$ | async">
        <span class="indicator-progress">
          {{ 'COMMON.LOADING' | translate }}
          <span
            class="spinner-border spinner-border-sm align-middle ms-2"
          ></span>
        </span>
      </ng-container>
    </button>
    <a
      routerLink="/auth/login"
      id="kt_login_password_reset_form_cancel_button"
      class="btn btn-lg btn-light-primary fw-bolder"
    >
      {{ 'COMMON.CANCEL' | translate }}
    </a>
  </div>
  <!--end::Form group-->
</form>
<!--end::Form-->

<ng-template
  #formError
  let-control="control"
  let-message="message"
  let-validation="validation"
>
  <ng-container
    *ngIf="control.hasError(validation) && (control.dirty || control.touched)"
  >
    <div class="fv-plugins-message-container">
      <div class="fv-help-block">
        <span role="alert" class="text-danger fs-8">{{ message }}</span>
      </div>
    </div>
  </ng-container>
</ng-template>
