<app-delete-modal
  [moduleName]="isBulk ? '' : 'Product'"
  [title]="isBulk ? ('حذف ' + count + ' منتجات محددة') : ''"
  [confirmationText]="isBulk ? ('هل أنت متأكد من رغبتك في حذف ' + count + ' منتج محدد؟ (تنبيه: المنتجات المرتبطة بطلبات أو فواتير سابقة لا يمكن حذفها من قاعدة البيانات، ويُفضل استخدام خيار التعطيل بدلاً من ذلك).') : 'هل أنت متأكد من رغبتك في حذف هذا المنتج؟ (تنبيه: إذا كان المنتج مرتبطاً بطلبات سابقة، يُفضل استخدام التعطيل بدلاً من الحذف).' "
  [isLoading]="isLoading$ | async"
  (cancelClicked)="modal.dismiss()"
  (deleteClicked)="delete()"
>
</app-delete-modal>
