<div class="aside-logo flex-column-auto" id="kt_aside_logo">
  <a routerLink="/dashboard" class="d-flex align-items-center" aria-label="JTAK dashboard home">
    <img alt="JTAK" src="./assets/media/logos/jtak-logo-dark.svg" class="logo-default h-35px" />
    <img alt="JTAK" src="./assets/media/logos/jtak-mark.svg" class="logo-minimize h-30px" />
  </a>

  <button id="kt_aside_toggle" type="button" class="btn btn-icon aside-toggle"
    [class.active]="isMinimized"
    (click)="toggleAsideMinimize()"
    [attr.aria-expanded]="!isMinimized"
    aria-label="Toggle navigation">
    <span [inlineSVG]="'./assets/media/icons/duotune/arrows/arr079.svg'"
      class="svg-icon svg-icon-1"></span>
  </button>
</div>

<div class="aside-menu flex-column-fluid">
  <div #ktAsideScroll id="kt_aside_menu_wrapper" class="hover-scroll-overlay-y mt-3 mb-2"
    (scroll)="onAsideScroll($event)"
    data-kt-scroll="true" data-kt-scroll-activate="{default: false, lg: true}"
    data-kt-scroll-height="auto" data-kt-scroll-dependencies="#kt_aside_logo, #kt_aside_footer"
    data-kt-scroll-wrappers="#kt_aside_menu" data-kt-scroll-offset="0">
    <div id="kt_aside_menu" data-kt-menu="true" class="menu menu-column">
      <app-aside-menu id="asideMenu"></app-aside-menu>
    </div>
  </div>
</div>

