<app-edit-modal [item]="item" [itemName]="item.title" moduleName="Notification" [isLoading]="isLoading$ | async"
  [saveDisabled]="formGroup.invalid" (cancelClicked)="modal.dismiss()" (saveClicked)="save()">
  <ng-container *ngIf="item">
    <form class="form form-label-right" [formGroup]="formGroup">
      <div class="row">
        <div class="col-md-12">
          <div class="mb-8">
            <label for="titleAr" class="form-label fw-bold mb-2">{{ 'NOTIFICATIONS_PAGE.COL_TITLE' | translate }}</label>
            <app-input-container [control]="formGroup.controls.titleAr">
              <input type="text" class="form-control form-control-solid" formControlName="titleAr" id="titleAr"
                [placeholder]="'NOTIFICATIONS_PAGE.COL_TITLE' | translate" #input />
            </app-input-container>
          </div>
        </div>
        <div class="col-md-12">
          <div class="mb-8">
            <label for="textAr" class="form-label fw-bold mb-2">{{ 'NOTIFICATIONS_PAGE.COL_TEXT' | translate }}</label>
            <app-input-container [control]="formGroup.controls.textAr">
              <textarea class="form-control form-control-solid" formControlName="textAr" id="textAr" rows="3"
                [placeholder]="'NOTIFICATIONS_PAGE.COL_TEXT' | translate" #input></textarea>
            </app-input-container>
          </div>
        </div>

        <div class="col-md-12">
          <app-file-uploader uploaderTitle="صورة الإشعار (اختياري)"
            (fileUploaded)="onFileUploaded($event, 'image')"></app-file-uploader>

          <app-uploaded-image [imageId]="formGroup.get('image')?.value"
            [dimensions]="{ width: 600, height: 300 }" (imageDeleted)="onFileDelete('image')">
          </app-uploaded-image>
        </div>
      </div>
    </form>
  </ng-container>
</app-edit-modal>